.SpacedText {
  white-space: pre-line;
}

.ProjectTitles {
  margin: 0px 10px 20px 10px;
  font-size: 24px;
  font-weight: 900;
}

.ProjectDescription {
  margin: 20px;
  font-size: 20px;
  font-family: "Rubik";
}

.PresentationTitle {
  margin: 50px 10px 20px;
  font-size: calc(15px + 2vw);
  font-weight: 800;
}

.PresentationDescription {
  margin: 20px;
  font-size: 20px;
  font-family: "Rubik";
}

.GradientHighlight {
  background-image: linear-gradient(
    45deg,
    hsl(212deg 78% 52%) 0%,
    hsl(251deg 68% 70%) 50%,
    hsl(291deg 59% 68%) 100%
  );
  background-clip: text;
  color: transparent;
}

.MainCardWrapper {
  margin: auto 0;
  padding: 15px;
}

.MainCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  background-color: #f1f1f5;
  border-radius: 20px;
  box-shadow: 4px 6px 10px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
}
