:root {
  --base-font-size: min(calc(14px + 0.6vw), 20px);
  --default-margin: var(--base-font-size);
  --card-color: #f1f1f1;
}

.SpacedText {
  white-space: pre-line;
}

.ProjectTitles {
  margin: var(--default-margin);
  font-size: calc(1.5 * var(--base-font-size));
  font-weight: 900;
}

.ProjectDescription {
  margin: var(--default-margin);
  font-size: var(--base-font-size);
  font-family: "Rubik";
}

.PresentationTitle {
  margin: var(--default-margin) var(--default-margin)
    calc(1.5 * var(--default-margin));
  font-size: calc(1.8 * var(--base-font-size));
  line-height: 1.1;
  font-weight: 900;
}

.PresentationDescription {
  margin: 5px;
  font-size: calc(1.1 * var(--base-font-size));
  font-family: "Rubik";
}

.GradientHighlight {
  background-image: linear-gradient(
    45deg,
    hsl(212deg 78% 52%) 0%,
    hsl(251deg 68% 70%) 50%,
    hsl(291deg 59% 68%) 100%
  );
  background-clip: text;
  color: transparent;
}

.MainCardWrapper {
  margin: auto 0;
  padding: var(--default-margin);
}

.MainCard {
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  background-color: var(--card-color);
  border-radius: 10px;
  box-shadow: 0px 4px 10px 3px rgba(60, 60, 60, 0.3);
  padding: var(--default-margin);
}
